<!DOCTYPE html>
<body>
<html>
<style>
    body {background-color: powderblue;}
</style>
<h1><center>TMSCA Resources and Links</center></h1>
<p><center>Here you will find tricks and practice problems for TMSCA/UIL Number Sense Competition. I might add my own lessons/practice programs here soon.</center></p>
<p><a href="/">Back to Homepage</a></p>
<h2>Number Sense</h2>
<h3>Resources to use</h3>
<p>I personally learned all this from the internet, mostly using 2 sites.</p>
<p>For tricks, I got them from:</p>
<p><a href="http://bryantheath.com/files/2018/04/Heath_NSTricks_revA.pdf">Bryant Heath Practice Manual</a></p>
<p>This manual is completely free, and even contains tricks for High School Number Sense. However, this might be overkill for Middle School in some areas.</p>
<p><a href="http://mathninja.org/math-team/number-sense-video-lesson-and-workbook/">Math Ninja Videos</a></p>
<p>These videos are really helpful for Number Sense, I used them myself. The instructor coaches a team that's won the championship 30+ years in a row, so it's pretty good.</p>
<p>They also have a workbook that you can buy, and the practice problems are there great.</p>
<h3>Practice Tests</h3>
<p><a href="http://bryantheath.com/number-sense-practice-tests/">High School Number Sense Computer-Generated Tests</a></p>
<p><a href="http://bryantheath.com/middle-school-number-sense-practice-tests/">Middle School Number Sense Computer-Generated Tests</a></p>
<p><a href="https://www.academicmeet.com/sample.php">Sample Computer-Generated Tests, Middle School and High School</a></p>
<br>
<h2>Calculator Applications</h2>
<h3>Resources</h3>
<p>There are not as many free resources, as this is a less popular event. I recommend using a RPN calculator, as you can speed through the number crunchers very quickly.</p>
<p>I got a state title (6A Division) using the HP33s, but that calculator is hard to find, so HP35s and HP32SII also works.</p>
<p>I would recommend to just learn how to use RPN. There are many free tutorials on the Internet. Though there is a learning curve, if you can master it you can finish all 58 number crunchers within 10 minutes.</p>
<h3>Helpful Links</h3>
<p><b>Cruncher and Word Problem sets - </b><a href="https://onedrive.live.com/?authkey=%21AM1r52Y%2DwA%5F3MtM&id=5405BDD4F084379C%2198083&cid=5405BDD4F084379C">This link is HS-Level but it does train middle school problems as well.</a></p>
<p><b>Past Tests (HS) - </b><a href="https://onedrive.live.com/?authkey=%21AE5yn2CAGrMmU2s&id=5405BDD4F084379C%2198100&cid=5405BDD4F084379C">High School Level Tests are here</a></p>
<p><b>Past Tests (MS) - </b>I didn't have an archive of past tests, so if you're looking for MS level I would look up "TMSCA calculator tests" and use what comes up.</p>
<br>
<h2>General Math</h2>
<h3>Resources</h3>
<p>General Math is a very speed-based contest, where you get an average of 36 seconds per problem. To master this event, you must know the fundamental concepts (Algebra, Geometry, Number Theory, Combinatorics) and must be able to do it quickly.</p>
<p>I mostly learned this from a helpful website called <a href="artofproblemsovling.com">artofproblemsolving.com</a>, where it has many resoucres aimed specifically for competition math</p>
<h3>Helpful Links</h3>
<p><b>Very useful for speed -</b> <a href="artofproblemsolving.com/ftw">For the Win! (randomized problems that are very close to general math level, you must answer problems within a certain time limit.)</a></p>
<p><b>Videos to learn concepts - </b><a href="artofproblemsolving.com/videos">Free Videos</a></p>
<p><b>Practice Problems for the Videos - </b><a href="artofproblemsolving.com/alcumus">Alcumus (problems based on a certain topic you choose)</a></p>
</html>
</body>