<!DOCTYPE html>
<html>
<head>
<title>Timothy's Website</title>
</head>
<body>

    <center><h1>First Django Website</h1></center>
    <center><p>Hi, this is my first website. I will be using this website to mess around and see how django works. Below is a little "About Me".</p></center>
<h2>Math</h2>
<p>My favorite math topic is Geometry, especially Euclidean Geometry.</p>
<p>My subject distribution is GANC (G = Geometry, A = Algebra, N = Number Theory, C = Combinatorics), where going from left to right is how much I like to how much I dislike.</p>
<p>I participated in MATHCOUNTS Chapter competition, and missed the state cutoff by a few points (oops). I will also take the AMC10 and AMC8 this year.<p>
<p>For math resources, I highly recommend AoPS (artofproblemsolving.com), as I personally learned math there. The community is also really awesome, and you will learn a lot. My AoPS account is Turtle09 (user ID #829414) </p>
<h3>Programming</h3>
<p>I only know Python, and I just started using Django for websites.</p>
<p>I think USACO is pretty cool, so I would like to do that competition in the future. (hopefully I can make it to Gold division)</p>
</body>
</html>
