<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
</style>
</head>
<body>

    <h1><center>App Lab Projects</center></h1>
    <p><center>Here you will find games you can play that my friend and I have created, we will try to get a new game out every 1-2 months for you to play and update weekly. For now, you can now me as Creator 1 and my friend as Creator 2.
</center></p>
<p><a href="/">Back to Homepage</a></p>
<h2>Projects</h2>
<p><a href="/applabprojects/game1">Game 1: Mega Man Reclaims a Fort - Creator 1</a></p>
<p><a href="/applabprojects/game2">Game 2: Money Man Simulator - Creator 2</a></p>
<h2>Other Links</h2>
<p><a href="/aboutcreator1">About Creator1</a></p>
<p><a href="/aboutcreator2">About Creator 2</a></p>
</body>
</html>



