<html>
<body>
<style>
body {background-color: powderblue;}
p {font-family:Verdana, Geneva, Tahoma, sans-serif}
</style>
<h1>Game 2: Money Town Simulator</h1>
<p>Created by: Creator 2</p>
<p>Difficulty Level: Easy</p>
<p><a href="/applabprojects">Back</a></p>
<p><a href="https://studio.code.org/projects/applab/E9pq_vuoQORcCRUpQhVqVMDZMsd6bq2GTNDjgF-8oVY">Link to Money Man Simulator (beta version)</a></p>
<p>This is a money game where you click the button to get money, and there's a shop where you can get powerups and more money. There are also taxes so watch out to not get into debt!</p>
<img src="https://i.ibb.co/WvpsBSk/Screenshot-from-2022-11-18-20-44-07.png" alt="Money Man Simulator image" width="314" height="512"> 
<p>Last Updated: 11-18-2022</p>
</body>
</html>