<html>
<body>
<style>
body {background-color: powderblue;}
</style>
<h1>Game 1: Mega Man reclaims a fort </h1>
<p>Created by: Creator 1</p>
<p>Difficulty Level: Hard</p>
<p><a href="/applabprojects">Back</a></p>
<p><a href="https://studio.code.org/projects/applab/HQJvv7A7_KKj8OaFfml92wkz1Wpigrpat1fMkHb2ZEo">Link to Mega Man reclaims a fort (beta version)</a></p>
<p>In that game, a character must dodge flames and fight guards to reclaim a fort. There are 3 levels, and this is still in the beta version, as there are still improvements to be made.</p>
<img src="https://i.ibb.co/KXp7sxG/Screenshot-from-2022-11-17-21-25-23.png" alt="Mega Man reclaims a fort image" width="314" height="512">
<p>Last Updated: 11-21-2022</p>
</body>
</html>
