<!DOCTYPE html>
<html>
<body>
<style>
    body {background-color: palegreen;}
</style>
<center><h1>Homepage</h1></center>
<center>Welcome to my website!</center>
<h4>About me page</h2>
<p><a href="/aboutcreator1">About me</a></p>

<br>
<h4>App Lab Projects</h3>
<p><a href="/applabprojects">Link to the games/projects!</a></p>
<br>
<h4>TMSCA/UIL (Math Events, because I suck at the others lol)</h4>
<p><a href="/numbersense">Here are some tricks/practice problems, as well as some additional resources.</a></p>
<br>
<h4>Some Other Links (cool stuff I found)</h4>
<p><a href="https://bit.ly/c234wefwef">Interesting thing number 1</a></p>
<p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>still under construction</p>

</body>
</html>